* {
    box-sizing: border-box;
    font-family: Raleway, serif;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 5rem;

  }
  p {
    font-weight: bold;
    font-size: large;
  }

html, body {
    width: 100%;
    height: 100%;
    border-radius: 5;   
   background-position: center;
}

.background-blur {
    height: 100vh;
    position: fixed;
    z-index: -1;
    filter: blur(4px);
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .15%) 0%, rgba(0, 0, 0, 0.55) 100%), url('https://images.pexels.com/photos/1070893/pexels-photo-1070893.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') repeat;
    background-position: center center;
}

#errorBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #e60000;
    margin: 5px;
}

#errorBox div {
    flex: 1;
    background: #ffe6e6;
    border-top: 1px solid #e60000;
    padding: 5px;
}

.recepieBody {
    padding: 1rem;
    text-align: center;

}
.recepieHeader {
    padding: 1rem;
    text-align: center;

}
.container-input {
    width: 100%;
    opacity: .75;
    border-radius: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    font-size: 2rem;
}
 
.container-result {
    display: none;
    width: 60%;
    opacity: .9;
    border-radius: 2rem;
    padding: 2rem;
    background-color: whitesmoke;
    word-wrap: break-word;
}

.inputs {
    display: flex;
    justify-content: center;
}

.btn-generate {
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    white-space: normal;
    word-wrap: break-word;
}
input[type=radio]{
    transform:scale(2.0);
}
#success-alert {
    display: none;


}
label{
    word-wrap: break-word;
}




@media only screen and (max-width: 600px) {

        .container-input {
       
        opacity: .75;
        border-radius: 2rem;
        padding: 2rem;
        background-color: whitesmoke;
        font-size: 1rem;
    }
    h1 {
        color: black;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 0rem;
        font-size: 3rem;
      
    }
    .container-result {
        display: none;
        width: 90%;
        opacity: .9;
        border-radius: 2rem;
        padding: 2rem;
        background-color: whitesmoke;
        word-wrap: break-word;
        
    }
    
}